version: v3

teleport:
  data_dir: {{ teleport_data_dir }}
  log:
    output: stderr
    severity: INFO

auth_service:
  enabled: yes
  cluster_name: {{ teleport_public_name }}
  authentication:
    type: local
    second_factor: "on"
    webauthn:
      rp_id: {{ teleport_public_name }}
  listen_addr: 0.0.0.0:3025
  proxy_listener_mode: multiplex

proxy_service:
  enabled: yes
  web_listen_addr: 0.0.0.0:443
  tunnel_listen_addr: 0.0.0.0:3024
  public_addr: {{ teleport_public_proxy_hostname }}:443
  tunnel_public_addr: {{ teleport_public_proxy_hostname }}:3024
  acme:
    enabled: yes
    email: {{ acme_email }}

ssh_service:
  enabled: no

