---
- name: Deploy Teleport Public Node (Auth + Proxy Service)
  hosts: public_node
  become: yes
  roles:
    - Public_Node
  vars:
    ssh_key_path: "{{ lookup('env', 'Public_Node_MgmtCert') | default(lookup('env', 'Public_Node_SSH_Key') | default('~/.ssh/id_rsa')) }}"
    ansible_ssh_private_key_file: "{{ ssh_key_path | regex_replace('^\\.', lookup('env', 'HOME') + '/.') | regex_replace('^~', lookup('env', 'HOME')) }}"
    ansible_ssh_common_args: "{{ '-o CertificateFile=' + lookup('env', 'Public_Node_SSH_Cert') if lookup('env', 'Public_Node_SSH_Cert') | length > 0 else '' }}"

- name: Deploy Teleport Private Node (App Service Only)
  hosts: private_node
  become: yes
  roles:
    - Private_Node
  vars:
    ssh_key_path: "{{ lookup('env', 'Private_Node_MgmtCert') | default(lookup('env', 'Private_Node_SSH_Key') | default('~/.ssh/id_rsa')) }}"
    ansible_ssh_private_key_file: "{{ ssh_key_path | regex_replace('^\\.', lookup('env', 'HOME') + '/.') | regex_replace('^~', lookup('env', 'HOME')) }}"
    ansible_ssh_common_args: "{{ '-o CertificateFile=' + lookup('env', 'Private_Node_SSH_Cert') if lookup('env', 'Private_Node_SSH_Cert') | length > 0 else '' }}"
